<div class="modal fade" id="state_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="leave">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Details</h3>
            </div>
            <div class="modal-body">
                <div class="box-content">
            <form role="form" #formRef="ngForm">
                <fieldset ngModelGroup="modify">
                    <div class="form-group">
                        <label for="exampleInputPassword1">请假人</label>
                        <input class="autogrow form-control"  name="holiday_worker_id" 
                        [(ngModel)]="leave.holiday_worker_id" disabled="disabled">
                    </div>  
        
                    <div class="form-group">
                        <label for="selectError">请假类型</label>
                        <select class="form-control" [(ngModel)]="leave.holiday_type" name="holiday_type" disabled="disabled">
                                <option *ngFor="let option of options" [ngValue]="option.holiday_type_id" 
                                    name="holiday_type_id" [selected]="option.holiday_type_id === leave.holiday_type? 'selected':''">
                                    {{ option.holiday_type_name }}
                                </option>
                        </select>
                    </div>
                                        
                    <div class="form-group">
                        <label for="exampleInputEmail1">请假时间</label>
                        <div class="row">
                        <div class="col-xs-5">
                            <input type="text" readonly class="form-control form_datetime"  placeholder="请假起始时间" [(ngModel)]="leave.holiday_time_begin" 
                              id="holiday_time_begin" name="holiday_time_begin" disabled="disabled">
                        </div>
                        <div class="col-xs-2" style="text-align: center;line-height:38px;height:38px;">至</div>
                        <div class="col-xs-5">
                            <input type="text" readonly class="form-control form_datetime"  placeholder="请假终止时间" [(ngModel)]="leave.holiday_time_end" 
                             id="holiday_time_end" name="holiday_time_end" disabled="disabled">
                        </div>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="exampleInputPassword1">请假原因</label>
                        <textarea class="autogrow form-control"  placeholder="请输入请假原因" name="holiday_reason" 
                        [(ngModel)]="leave.holiday_reason" disabled="disabled"></textarea>
                    </div>  
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">审批状态</label>
                        <select class="form-control" [(ngModel)]="leave.holiday_apply_state" name="holiday_apply_state">
                            <option value="-1">-1</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>  

                    <div class="modal-footer form-group">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                            <a href="#" (click)="onSubmit()" class="btn btn-primary" data-dismiss="modal"   
                            *ngIf="(!leave.holiday_app_over)">Save changes</a>
                    </div>
                </fieldset>
                                
            </form>

        </div>
            </div>
            
        </div>
    </div>
</div>
