<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i> 请假申请表</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content" id="holiday_apply">
                <form role="form" #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
                  <fieldset ngModelGroup="apply">
                      <div class="form-group">
                          <label for="selectError">请假类型</label>
                          <select class="form-control"  name="holiday_type" [(ngModel)]="holiday_type">
                                <option *ngFor="let option of options" [ngValue]="option.holiday_type_id">
                                      {{ option.holiday_type_name }}
                                </option>
                          </select>
                      </div>
                                  
                      <div class="form-group">
                          <label>请假时间</label>
                          <div class="row">
                          <div class="col-xs-5">
                              <input type="text" readonly class="form-control form_datetime"  placeholder="请假起始时间"  id="holiday_time_begin">
                          </div>
                          <div class="col-xs-2" style="text-align: center;line-height:38px;height:38px;">至</div>
                          <div class="col-xs-5">
                              <input type="text" readonly class="form-control form_datetime"  placeholder="请假终止时间"  id="holiday_time_end">
                          </div>
                          </div>
                      </div>
  
                      <div class="form-group">
                          <label>请假原因</label>
                          <textarea class="autogrow form-control"  placeholder="请输入请假原因" 
                          [(ngModel)]="holiday_reason" name="holiday_reason"></textarea>
                      </div>                    
                      <button type="submit" class="btn btn-default">提交申请</button>
                  </fieldset>
                    
                </form>

            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>No settings Here</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
            </div>
        </div>
    </div>
</div>