<div class="row" id="holidays_info">
  <div class="box col-md-12">
      <div class="box-inner">
          <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-edit"></i> 请假申请管理</h2>

              <div class="box-icon">
                  <a  class="btn btn-setting btn-round btn-default" (click)="showFilter()"><i class="glyphicon glyphicon-cog"></i></a>
                  <a  class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                  <a  class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
              </div>
          </div>
          <div class="box-content">
              <!-- <div id="dt_length" class="dataTables_length">
                  <label>Show 
                      <select size="1" name="dt_length" aria-controls="dt" [(ngModel)]="per_page">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                      </select> 
                      entries
                  </label>
              </div> -->

              <table class="table table-striped table-bordered bootstrap-datatable" id="dt" style="table-layout:fixed;" *ngIf="dataList !== null">
                
                 <thead>
                     <tr>
                         <th *ngFor="let col of columns">
                              {{ col }}
                         </th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let entry of dataList" >
                         <td data-label="编号"> 
                           <div class="wrapTd">
                            {{ entry['holiday_id'] }} 
                          </div>    
                        </td>
                         <td data-label="工号"> 
                           <div class="wrapTd">
                              {{ entry['holiday_worker_id'] }} 
                            </div>
                          </td>
                         <td class="center" data-label="开始时间">{{ entry['holiday_time_begin']  }}</td>
                         <td class="center" data-label="结束时间">{{ entry['holiday_time_end'] }}</td>
                         <td class="center" data-label="请假类型">{{ options[entry['holiday_type'] - 1].holiday_type_name }}</td>
                         <td class="center" data-label="请假原因">
                             <div class="wrapTd">
                             {{ entry['holiday_reason'] }}
                             </div>
                         </td>
                         <td class="center" data-label="请假状态">
                             <span class="label label-default" [ngClass]="getLabel(entry['holiday_app_end'], entry['holiday_app_over'], entry['holiday_apply_ok'], entry['holiday_apply_state'])"> 
                                 {{ getState(entry['holiday_app_end'], entry['holiday_app_over'], entry['holiday_apply_ok'], entry['holiday_apply_state']) }} 
                             </span>
                             
                         </td>
                         <td class="center" data-label="申请时间">{{ entry['holiday_apply_time'] }}</td>
                         <td class="center" data-label="操作">
                             <a class="btn btn-success btn-sm" (click)="loadLeave(entry)">
                                 <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                 查看
                             </a>
         
                             <a class="btn btn-info btn-sm" (click)="manageLeave(entry)" *ngIf="entry['holiday_apply_ok'] !=1 && !entry['holiday_app_over']">
                                 <i class="glyphicon glyphicon-edit icon-white"></i>
                                 审批
                             </a>
                             <a class="btn btn-info btn-sm" (click)="overLeave(entry)" *ngIf="entry['holiday_apply_ok'] == 1 && !entry['holiday_app_over']">
                                 <i class="glyphicon glyphicon-edit icon-white"></i>
                                 销假
                             </a>
                                                
                             <a class="btn btn-danger btn-sm" (click)="overLeave(entry)" 
                                 *ngIf="entry['holiday_apply_state'] == 0 && !entry['holiday_app_over']">
                                 <i class="glyphicon glyphicon-trash icon-white"></i>
                                 撤销
                             </a>
                         </td>
                      </tr>
                 </tbody>
             </table>

              <!-- <ul id="pagination-demo" class="pagination-sm"></ul> -->
              <app-pagination-bar  [totalPageNumber]="total_page_num" (paginationChange)="freshList($event)" *ngIf="total_page_num != null"></app-pagination-bar>

          </div>
      </div>
  </div>
  <!--/span-->
  
  <app-leave-detail [leave]="selectedLeave" [options]="options"></app-leave-detail>
  <app-leave-state [leave]="selectedLeave" [options]="options"></app-leave-state>
  <div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3>Options</h3>
              </div>
              <div class="modal-body">
                  <div class="box-content">
              <form role="form" #formRef="ngForm">
                <fieldset ngModelGroup="filter">
                        <div class="form-group">
                            <label for="exampleInputPassword1">工号</label>
                            <input class="autogrow form-control" [(ngModel)]="worker_id" 
                                name="worker_id">
                        </div>  
        
                        <div class="form-group">
                        <label for="selectError">请假类型</label>
                            <select class="form-control" [(ngModel)]="holiday_type" name="holiday_type">
                                    <option *ngFor="let option of options" [ngValue]="option.holiday_type_id" >
                                        {{ option.holiday_type_name }}
                                    </option>
                            </select>
                        </div>
                                    
                        <div class="form-group">
                            <label for="exampleInputEmail1">请假时间</label>
                            <div class="row">
                            <div class="col-xs-5">
                                <input type="text"  class="form-control form_datetime"  placeholder="请假起始时间" 
                                    [(ngModel)]="search_begin" name="search_begin" id="search_begin">
                            </div>
                            <div class="col-xs-2" style="text-align: center;line-height:38px;height:38px;">至</div>
                            <div class="col-xs-5">
                                <input type="text"  class="form-control form_datetime"  placeholder="请假终止时间" 
                                    [(ngModel)]="search_end" name="search_end" id="search_end">
                            </div>
                            </div>
                        </div>
        
        
                        <div class="form-group">
                            <label for="exampleInputPassword1">审批状态</label>
                            <select class="form-control" [(ngModel)]="apply_state" name="apply_state">
                                <option value="-1">-1</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">审批完成</label>
                            <select class="form-control" [(ngModel)]="apply_ok" name="apply_ok">
                                <option value="-1">-1</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="exampleInputPassword1">销假情况</label>
                            <select class="form-control" [(ngModel)]="apply_end" name="apply_end">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="exampleInputPassword1">请假结束</label>
                            <select class="form-control" [(ngModel)]="apply_over" name="apply_over">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div> 
                        
                        <div class="modal-footer">
                            <a  class="btn btn-default" data-dismiss="modal">Close</a>
                            <a  class="btn btn-default" data-dismiss="modal" (click)="clearFilter()">Clear</a>
                            <a  class="btn btn-primary" data-dismiss="modal" (click)="filterChange(formRef.value)">Save changes</a>
                        </div>
                </fieldset>
                             
              </form>

          </div>
              </div>
              
          </div>
      </div>
  </div>
</div><!--/row-->